<!doctype html>
<html>
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="/res/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/res/highlight.js/src/styles/{{ config.highlight.style }}.css">
    <link rel="stylesheet" href="/res/documented/styles.css">
    <link rel="stylesheet" href="/res/documented/{{ config.theme }}.css">

    <script src="/res/modernizr/modernizr.js"></script>
    <script src="/res/jquery/dist/jquery.min.js"></script>
    <script src="/res/documented/ui.js"></script>

    <title>{{ document.meta.title }} - {{ config.name }}</title>
</head>
<body>

{{ document.content | raw }}

</body>
</html>
