<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ document.relativeUrlPath }}res/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ document.relativeUrlPath }}res/highlight.js/styles/{{ config.highlight.style }}.css">
    <link rel="stylesheet" href="{{ document.relativeUrlPath }}res/documented/css/style.css">
    <link rel="stylesheet" href="{{ document.relativeUrlPath }}res/documented/css/themes/{{ config.theme }}.css">

    <script src="{{ document.relativeUrlPath }}res/modernizr/modernizr.js"></script>
    <script src="{{ document.relativeUrlPath }}res/jquery/jquery.min.js"></script>
    <script src="{{ document.relativeUrlPath }}res/documented/js/ui.js"></script>

    <title>{{ document.meta.title }} - {{ config.title }}</title>
</head>
<body>

{# Header #}
<div class="documented-header">
    {% include "header.twig" %}
</div>

{# Body #}
<div class="documented-body container-fluid">
    <div class="row row-height">
        <div class="col-lg-3 col-md-3 col-height documented-sidebar">
            {% include "sidebar.twig" %}
        </div>
        <div class="col-lg-7 col-md-9 col-height documented-content">
            {% include "content.twig" %}
        </div>
    </div>
</div>

</body>
</html>
